# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# 私密文件（真机签名相关，不要提交）
*.mobileprovision
